<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
 <link rel="stylesheet" href="css/style.css" />
<body>
  {{>Navbar}}
    <div class="max-width-cointain2">
        <div class="detail-page">
          <div class="detail">
            <h3>Welcome to Weather App</h3>
            <h1>My Name Is : MD TAQUI IMAM </h1>
            <button id="btn"><a href="blog">MY BLOG</a></button>
          </div>
        </div>
        <div class="img">
          <img src="/image/img3.png" alt="weather image" class="image1" id="image3">
        </div>
  
      </div>
     {{>Footer}}
</body>
<script src="js/main.js"></script>
</html>