<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
      <div class="main">
      {{>Navbar}}
    
        <div class="max-width-cointain">
        <div class="detail-page">
          <div class="detail">
            <h3>Welcome to Weather App</h3>
            <h1>Get the Latest Weather Info of Your City</h1>
            <button id="btn"><a href="weather">Check now</a></button>
          </div>
        </div>
        <div class="img">
          <img src="/image/weather.jpg" alt="weather image" class="image1" id="image">
          <img src="/image/weather2.jpg" alt="weather image" class="image2" id="image2">
        </div>
  
      </div>
    
    
    
      {{>Footer}}
</div>

</body>
  <script src="js/main.js"></script>
</html>
