<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    {{>Navbar}}
    <div class="main-weather">
        <div class="weather-input">
            <form action="" class="weather-form">
                <input type="text" id="input-data" autocomplete="off" placeholder="Enter city name">
                <input type="submit" value="search" id="weather-btn">
            </form>
        </div>
        <div class="weather-result">
            <div class="city-name" id="c-name"> ......</div>
            <div class="city-degree"> <span id="degree">0.0</span><sup id="sup">0</sup><span id="celcius">C</span></div>
            <span
                    id="status">❔</span>
        </div>
    </div>
    {{>Footer}}
</body>
<script src="js/main.js"></script>
</html>