<nav class="navbar">
        <div class="max-width">
          <div class="nav-item">
            <div class="logo"><a href="/">Taqui Weather</a></div>
            <div class="list">
              <ul>
                <li><a href="weather">Weather</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact Me!</a></li>
              </ul>
              <div class="nav-btn" onclick="comenav()">※</div>
            </div>
          </div>
        </div>
      </nav>
      <div class="nav-slide" id="navslide">
        <ul>
          <li><a href="weather">Weather</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact Me!</a></li>
        </ul>
      </div>